.footer-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 2rem var(--gap);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  gap: var(--gap);
  font-size: 0.9rem;
  color: var(--color-gray-light);
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start; 
  text-align: left;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-item img {
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.contact-item a,
.contact-item span {
  color: var(--color-gray-light);
  text-decoration: none;
  font-size: 0.9rem;
}

.contact-item a:hover {
  color: var(--color-purple);
}

#email-to-copy:hover{
    color: var(--color-purple);
    cursor: pointer;
}

.copy-email {
  position: relative;
}

.tooltip-target {
  cursor: pointer;
}

.tooltip-msg {
  position: absolute;
  background-color: var(--color-gray-darker);
  color: var(--color-white);
  border: 1px solid var(--color-purple);
  padding: 0.4rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: 500;
  top: -2.2rem;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    border 0.3s ease,
    background-color 0.3s ease;
  pointer-events: none;
  z-index: 999;
}

.tooltip-msg.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 900px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }


}
